  body{
    padding: 20px;
    background-image: url(stars.png);
  }
h1{
  color: white;
}
hr{
  background-color: white;
  max-height: 3px;
}
a{
  color: white;
}
p{
  color: white;
}
li{
  color: white;
}
h2{
  color: white;
}
marquee{
  color:white;
}
.info{
    background-image: url(cobblemossyback.png);
}
.list{
  background-image: url(cobbleback.png);
}
