  body{
    background-image: url(stars.png);
  }
h1{
  color: white;
}
hr{
  background-color: white;
  max-height: 3px;
}
a{
  color: white;
}
p{
  color: white;
}
li{
  color: white;
}
h2{
  color: white;
}
marquee{
  color:white;
}
.info{
    background-image: url(cobblemossyback.png);
}
.list{
  background-image: url('cobblecastletop.png'), url('cobblecastle.png');
  background-position: 0px 0px, 0px 256px; /* Adjust positions based on image heights */
  background-repeat: repeat-x, repeat-x; /* Prevents images from repeating */
  /* Other styles for the element, e.g., height, width, etc. *//*
  height: 300px;  Example height to accommodate the images 
  width: 100%;
  */
  /* background-image: url(cobblecastletop.png),url(cobblecastle.png);
  background-size: auto 265px, auto auto
  background-position: 0px 0px, 0px 256px;
  */
}
